.myJumbotron {
    background-color: #ADD8E6;
}

.navbar-custom {
    background-color: #229922;
    color: #229922;
    border-radius: 0;
}

.navbar-custom .navbar-nav > li > a {
    color: #fff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #33aa33;
}

.navbar-custom .navbar-brand {
    color: #eeeeee;
}

.navbar-custom .navbar-toggle {
    background-color: #eeeeee;
}

.navbar-custom .icon-bar {
    background-color: #33aa33;
}